
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.main-div{
  background-color: #a6a7ae;
  height: 100%;
}
.chil-div{
  /* display: flex; */
  text-align: center;
}
.texts{
  margin-left: 80px; 
}
.img{
  height: 20vh;
  width: 20vh;
 margin-left: 60px;
 margin-top: 20px;
}
.addItems{
  text-align: center;
  margin-left: 80px;  
}
.showItems{
  vertical-align: text-top;
  vertical-align: text-bottom;
 

  padding: 0px;
  /* width: 18%;  */
}
.elements{
  
}
.eachItem{
  /* display: flex; */
  /* text-align: center; */
}
/* Float three columns side by side */
.column {
  float: left;
  width: 33.33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  padding: 11%;
  height: 30%;
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card{
  color: black;
}
/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 1);
  padding: 10px;
  text-align: center;
  background-color: #f1f1f1;
}
.delete{
 margin-left: 10%;
}
.btn{
  margin-left: 10%;
}
.btn:hover{
  background-color: blue;
  color: #f1f1f1;
}
.showItem{
  text-align: center;
}


/* Responsive columns */
/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */